/* ! İMPORT START */
/* FONT AWSOME */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ! HTML RESET */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Poppins", serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

/* ! HEADER */
.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-container {
    height: 90px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image-container {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 2px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all 0.5s;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      &:hover {
        transform: scale(1.1);
      }

      a {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    .nav-container {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .nav-item {
        a {
          font-size: 1.4rem;
          transition: all 0.5s;

          &:hover {
            font-size: 3ex;
          }
        }
      }
    }

    .nav-icon {
      a {
        margin-right: 30px;
        font-size: 1.7rem;
      }
    }
  }
}

/* ! SECTION */
.section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/section-backround-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .video-container {
    iframe {
      height: 30rem;
      width: 50rem;
    }
  }

  .header-container {
    margin-top: 40px;
  }

  .text-container {
    width: 56rem;
    text-align: center;
  }
}

/* ! FOOTER */
.footer {
  background-color: #333;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45rem;
    text-align: center;
  }
}

/* ! RESPONSIVE */
@media (max-width: 575px) {
  .header .header-container .nav-container {
    display: none;
  }

  .text-font-size {
    font-size: 1.2rem;
  }

  .section {
    .video-container iframe {
      height: 20rem;
      width: 100%;
    }

    .text-container {
      width: 35rem;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header .header-container .nav-container {
    display: none;
  }

  .text-font-size {
    font-size: 1.3rem;
  }

  .section {
    .video-container iframe {
      height: 25rem;
      width: 35rem;
    }

    .text-container {
      width: 45rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .header-container .nav-icon {
    display: none;
  }

  .section {
    .video-container iframe {
      height: 25rem;
      width: 35rem;
    }
  }

  .text-font-size {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .header-container .nav-icon {
    display: none;
  }

  .text-font-size {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .header .header-container .nav-icon {
    display: none;
  }

  .text-font-size {
    font-size: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .header .header-container .nav-icon {
    display: none;
  }

  .text-font-size {
    font-size: 1.5rem;
  }
}
